.search_bar_wrapper{
    width: 100%;
    background-color: #f1f0ee;
    padding: 5px 0;

    
    .search_bar{
        width: 840px;
        height: 30px;

        display: flex;
        place-items: center;

        margin: 0px auto 0 auto;
        // margin-left: auto;
        // margin-right: auto;
    }
}