.companies{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;

    width: 70%;
    // min-width: 1000px;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .companies{
        grid-template-columns: 1fr 1fr;
        width: 100%
    }
}