.jobs{
    position: relative;
    
    margin-top: 240px;
    margin-bottom: 70px;
}

.loading{
    height: 100vh;

    & img    {
        display: block;
        margin: 30px auto;
        width: 100px;
        padding-top: 250px;
    }
}