.welcome{
    position: relative;
    text-align: center;
    height:100vh;
    background-color: #dec5af;
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: scroll;

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    .spacer{
        height: 200px;
    }

    h1{
        font-weight: 300;
        font-size: 1.8rem;
        margin: 80px 0 ;
    }

    h2{
        font-size: 2.4rem;
        margin:60px 0 ;
    }

    h3{
        font-weight: 300;
        font-size: 1.5rem;
    }

    .message{
        // width: 60%;
        margin: 0 auto;
    }

    p{
        color:red
    }

    .spacer-2{
        height: 50px;
    }
}
