.company-tab{
    position: relative;
    background-color: #f0dfcc;
    width: 300px;
    min-height: 100px;
    text-decoration: none;
    color: black;

    text-align: center;

    // place-items: center;

    // display: grid;
    margin: 10px;

    -webkit-box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.54);
    box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.54);

    transition: all 150ms ease-in;

    &:hover {
        cursor: pointer;
        transform: translate(0,-5px);
        transition: all 150ms ease-in;
    } 

    & h1{
        margin: 35px 0 0 0;
        font-size: 20px;
    }

    & .jobs-company{
        // color: white;
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .company-tab{
        width: 90%;

        & h1{
            font-size: 1.7em;
        }

        & .jobs-company{
            // color: white;
            font-size: 16px;
        }

    }
}