.footer{
    background-color: #a67563;    
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: rgb(65, 65, 65);

    position: sticky; 
    bottom: 0;

    transition: all 300ms ease;
}