.menu{
    position: relative;
    text-align: center;

    & a{
        display: inline-block;
        text-decoration: none;
        background-color: rgb(152, 199, 240);
        padding: 15px 30px;
        margin: 20px ;
    }
}