.menu{
    position: relative;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr 1fr;

    & a{
        display: inline-block;
        text-decoration: none;
        background-color: #7292E5;
        // background-color: rgb(152, 199, 240);
        // border: 2px solid #1E6C93;
        padding: 15px 30px;
        margin: 3px ;
        transition: all 300ms ease;

        &:hover{
            background-color: #2b5edd;
            color: white;
            transition: all 300ms ease;   
        }
    }

}