.search-input{
    position: relative;
    display: inline-block;

    .clear-query{
        position: absolute;
        right: 5px;
    }

    .search{
        position: absolute;
        right: 20px;
    }
}